{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

<div id="page-wrapper">

{# <header id="header" class="alt">
						<h1><a href="index.html">Spectral</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="index.html">Home</a></li>
											<li><a href="generic.html">Generic</a></li>
											<li><a href="elements.html">Elements</a></li>
											<li><a href="#">Sign Up</a></li>
											<li><a href="#">Log In</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header> #}

  <header id="header" class="alt">
      {{ page.header }} 
      {{ page.primary_menu }}
	</header>
  
  {% if is_front %}
    <section id="banner">
      <div class="inner">
        <h2>
          {% if site_name %}
            {{ site_name }}
          {% else %}
            Spectral
          {% endif %}
        </h2>
        <p>Another fine responsive<br />
        site template freebie<br />
        crafted by <a href="https://in.linkedin.com/in/thakursachin05">Devendra Rana</a>.</p>
        <ul class="actions special">
          <li><a href="#" class="button primary">Activate</a></li>
        </ul>
      </div>
      <a href="#content" class="more scrolly">Learn More</a>
    </section> 
  {% endif %}

  {% if page.one  %}
    <section id="one" class="wrapper style1 special">
      {{ page.one }}
    </section>
  {% endif %}
 
  {% if page.two  %}
    <section id="two" class="wrapper alt style2">
      {{ page.two }}
    </section>
  {% endif %}
  
  {% if page.three  %}
    <section id="three" class="wrapper style3 special">
      {{ page.three }}
    </section>
  {% endif %}
  
  {% if not is_front %}
    <section id="content_above">
      {% if page.content_above %}
        {{ page.content_above }}
      {% else %}
        <article id="main">
          <header>
            <h2>Generic Page</h2>
            <p>Aliquam ut ex ut interdum donec amet imperdiet eleifend</p>
          </header>
        </article>
      {% endif %}
    </section>
  {% endif %}

  <section id="content" class="wrapper style6">
    {{ page.content }}
  </section>

  {% if page.cta %}
    <section id="cta" class="wrapper style4">
      {{ page.cta }}
    </section>
  {% endif %}

  <footer id="footer">
    {% if page.footer %} 
        {{ page.footer }} 
    {% else %}
      <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
      </ul>
    {% endif %} 
    <ul class="copyright">
      <li>&copy; Srijan Technologies</li><li>Design: <a href="https://in.linkedin.com/in/thakursachin05">Devendra Rana</a></li>
    </ul>
  </footer>
</div>
